@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --ff-main: 'Open Sans', sans-serif;
  --blue-logo: #4742b4;
  --yellow-logo: #ffd248;
  --first-grey: #E6E7E8;
  --second-grey: #BDBDBD;
  --third-grey: #CECECE;
  --text-color: #333;
  --background-color: #BABAC3;
}

*{
  font-family: var(--ff-main);
  margin: 0; padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
  line-height: 1.5rem;
}


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #eee;
}

h1{
  font-size: 1.75rem;
}

footer{
  margin: auto;
  color:rgb(56, 53, 53);
  text-align: center;
  background-color: var(--yellow-logo);
  padding: 1.5rem;
}

footer h3 {
    font-size: 175%;
}

footer hr {
    width: 15rem;
    color:rgb(184, 179, 179);
    margin: .5rem auto;
}

footer p{
  text-transform: none;
}

footer a{
  color: var(--text-color);
  text-transform: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 .75rem;
}


.button{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  color: #fff;
  cursor: pointer;
  font-size: .9rem;
  text-transform: none;
}

.cursor{
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 3rem; width: 3rem;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  opacity: .8;
  z-index: 10000;
  transform: translate(-50%,-50%);
}

/* Top page background */

.background{
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--third-grey);

}

.main-title,
.intro,
.key_numbers{
  position: relative;
}

.main-title{
  font-family: var(--ff-main);
  color: #111;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  text-transform: uppercase;
}


/* Introducing text section */
.intro{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  margin-top: 1.5rem;
}

.intro .content{
  flex: 1 1 30rem;
  text-align: center;
  background-color: var(--background-color);
  padding: 1rem;
}

.intro .content .text{
  color: var(--text-color);
  text-transform: none;
  padding: .5rem 1rem;
}

.intro .content .text h2{
  margin-bottom: 1rem;
}

.intro .content .text p{
  text-transform: none;
  text-align: justify;
  line-height: 1.75rem;
}

.intro .content .button{
  background: var(--blue-logo);
}

.intro .content .button:hover{
  background: #111;
  letter-spacing: .1rem;
}

.intro .highlight{
  color: var(--blue-logo);
  text-transform: none;
}

.intro .image{
  flex: 1 1 15rem;
 padding-right: 0rem;
}

.intro .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: .5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}



/* Key numbers section */
.key_numbers{
/*  background-color: var(--third-grey);*/
  margin-bottom: 5rem;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 15vh;
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: var(--blue-logo);
  color: #eee;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, var(--blue-logo) 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, var(--blue-logo) 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 1.25rem;
  text-transform: none;
}


@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}




/* Calendar section */
.calendrier .calendrier-box .calendrier-top .split{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.calendrier .calendrier-box .split-days{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h3-date{
  padding-left: .5em;
}


.day,
.greyed-day,
.crossed-day{
  font-size: 1.125rem;
  width: 100%;
  position: relative;
}

.crossed-day:before,
.crossed-day:after {
  position: absolute;
  content: '';
  top: 35%;
  left: 30%;
  width: 40%;
  height: 4px;
  background: red;
}

.crossed-day:before{
  transform: rotate(45deg);
}

.crossed-day:after{
  transform: rotate(-45deg);
}

.greyed-day{
  color: var(--third-grey);
}

[id = "28"] {
  color: red;
}

[id = "25"], [id = "26"], [id = "27"] {
  color: blue;
}

.month{
  padding: .75em;
  font-size: 1.125rem;
}

.calendrier{
  color: black;
  padding: 2rem 0;
  width: 95%;
  margin: auto;

}

.calendrier-top{
  color: var(--first-grey);
  background: var(--blue-logo);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#day-page-top{
  padding-top: 10vh;
}

.calendrier-box{
  border:solid var(--second-grey);
  border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  margin: 1.5rem;
  background-color: white;
}

.day-page-background .calendrier-box{
  box-shadow: none;
  margin: 20vh auto 0 auto;
  width: 90%;
}

.calendrier-title{
  text-align: center;
  border-bottom: none;
  padding: 1.5em 0;
  font-size: 1.5rem;
}

.calendrier .split{
  display:flex;
  flex-direction: row;
}

.day-page-background{
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.day-page{
  margin: 20% auto;
  width: 80%;
  background-color: white;
}

.close-day-page{
  float: right;
  cursor: pointer;
  font-size: 2.5rem;
  padding-right: .25em;
}

.date{
  font-size: 1.25rem;
  padding: .25em;
}

.activity-text{
  margin: .5rem;
  text-align: justify;
}

.event-block{
  width: 100%;
  height: auto;
  flex-grow: 1;
  margin: auto;
  padding: 0.75em 0;
  cursor: pointer;
}

.event-block2{
  width: 100%;
  height: 20vh;
  flex-grow: 1;
  margin: auto;
  border-top: solid var(--second-grey);
}

.event-block2 + .event-block2{
  border-left: solid var(--second-grey);
}

.event-block2 .hour-text{
  text-align: left;
}


.event-block:hover{
  color: white;
  background-color: rgba(71,66,180,.7);
}

.event-block:active {
  color: black;
  background-color: var(--blue-logo);
}

.event-bottom-left:hover {
  border-bottom-left-radius: 18px;
}

.event-bottom-right:hover {
  border-bottom-right-radius: 18px;
}

.event-bottom-left:focus {
  border-bottom-left-radius: 18px;
}

.event-bottom-right:focus {
  border-bottom-right-radius: 18px;
}


.calendrier > .split + .split{
  flex-direction: column;
}

.line{
  display: flex;
  flex-direction: row;
}

.hour-text{
  margin-bottom: 0.5rem;
  margin-left: .5rem;
}


/* Légende du calendrier */
.legende-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  border: .1rem solid #BBB;
  padding: 1.25rem;
  margin-top: 2rem;
}

.legende{
  font-size: .9rem;
  flex: 1 1 12rem;
  position: relative;
}

.legende:before{
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  top: 0;
  left: 10%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: var(--blue-logo);
}

/*[id = "l1"]:before{
  background: red;
}

[id = "l2"]:before{
  background: green;
}

[id = "l3"]:before{
  background: orange;
}

[id = "l4"]:before{
  background: brown;
}

[id = "l5"]:before{
  background: purple;
}

[id = "l6"]:before{
  background: yellow;
}*/

/* Chiffres clés */
.background2{
  background-color: var(--third-grey);
  padding: 2rem;
  width: 95%;
  margin: auto;
}

.background2 .split{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.background2 .split .image{
  flex: 1 1 17rem;
}

.background2 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: .5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.background2 .split .content{
  flex: 1 1 20rem;
  text-align: justify;
}


.background2 .split .content .button:hover{
  background: #111;
  letter-spacing: .1rem;
}


.background2 .split .content,
.list li,
.list li span
{
  text-transform: none;
  line-height: 1.75rem
}


.list{
  margin-top: 1rem;
  margin-left: 3rem;
}

.list li span{
  display: block;
}

.list li + li{
  margin-top: .5rem;
}





/* Section faq */
.faq{
  margin: 5rem 0;
}

.faq header h2{
  text-align: center;
  margin: 1rem 0;
}

.faq-container{
/*  box-shadow: 0 0 1em black;*/
  padding: 1em;
  /*background-color: lightgrey;*/
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.faq-container .question-container{
  flex: 1 1 20rem;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: lightgrey;
  cursor: pointer;

}

.faq-container .question-container:hover strong p {
  font-size: 1.25rem;
}

.faq-container .question-container strong p{
  border-left: 5px solid var(--blue-logo);
  padding: .75rem;
}

.faq-container .question-container i p{
  display: none;
}

.faq-container .question-container strong p,
.faq-container .question-container i p{
  text-transform: none;
}





/*Medias querries : Utilisées pour le contenu sur un écran de pc */
@media (min-width: 750px) {


  .cursor{
    display: unset;
  }

  /*nav>ul>li{
    color: var(--yellow-logo);
  }*/
  nav>ul>li:hover {
      background-color: var(--yellow-logo);
  }

  .calendrier{
    width: 50%;
  }


}
