@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --ff-main: 'Open Sans', sans-serif;
  --blue-logo: #4742b4;
  --yellow-logo: #ffd248;
  --first-grey: #E6E7E8;
  --second-grey: #BDBDBD;
  --third-grey: #CECECE;
  --text-color: #333;
  --background-color: #BABAC3;
}

*{
  font-family: var(--ff-main);
  margin: 0; padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
  line-height: 1.5rem;
}


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #eee;
}

h1{
  font-size: 1.75rem;
}

footer{
  margin: auto;
  color:rgb(56, 53, 53);
  text-align: center;
  background-color: var(--yellow-logo);
  padding: 1.5rem;
}

footer h3 {
    font-size: 175%;
}

footer hr {
    width: 15rem;
    color:rgb(184, 179, 179);
    margin: .5rem auto;
}

footer p{
  text-transform: none;
}

footer a{
  color: var(--text-color);
  text-transform: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 .75rem;
}


.button{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  color: #fff;
  cursor: pointer;
  font-size: .9rem;
  text-transform: none;
}


/* First background section */
.main-background,
.background-menu{
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: var(--third-grey);
}

.background-menu {
  position: absolute;
}

.main-title,
.intro,
.key_numbers{
  position: relative;
}

.main-title{
  font-family: var(--ff-main);
  color: #111;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  text-transform: uppercase;
}


.intro{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  margin-top: 1.5rem;
}

.intro .content{
  flex: 1 1 30rem;
  text-align: center;
  background-color: var(--background-color);
  padding: 1rem;
}

.intro .content .text{
  color: var(--text-color);
  text-transform: none;
  padding: .5rem 1rem;
}

.intro .content .text h2{
  margin-bottom: 1rem;
}

.intro .content .text p{
  text-transform: none;
  text-align: justify;
  line-height: 1.75rem;
}

.intro .content .text p span{
  display: block;
  text-transform: none;
  text-align: justify;
  line-height: 1.75rem;
  margin-top: .5rem;
}

.intro .content .button{
  background: var(--blue-logo);
}

.intro .content .button:hover{
  background: #111;
  letter-spacing: .1rem;

}

.intro .content .button,
.intro .content .button:hover{
  transition: all .4s linear;
}

.intro .highlight{
  color: var(--blue-logo);
  text-transform: none;
}

.intro .image{
  flex: 1 1 15rem;
 padding-right: 0rem;
}

.intro .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: .5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


/* Key infos section */
.key_numbers{
  margin-bottom: 5rem;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
.marquee:before, .marquee:after { width: 5rem; }



.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: var(--blue-logo);
  color: #eee;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, var(--blue-logo) 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, var(--blue-logo) 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 0.9rem;
  text-transform: none;
}

/* Calendrier */
.calendrier{
  color: black;
  width: 95%;
  margin: auto;
}

.calendrier iframe {
  display: flex;
  text-align: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  border-radius: 0.5rem;
}

@media (min-width: 1920px) {
  .calendrier{
    padding-top: 10rem;
  }
}

/* Section background section */
.background2 .split .video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: .5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.background2{
  background-color: var(--third-grey);
  padding: 2rem;
  width: 95%;
  margin: auto;
  margin-top: 5rem;
}

.background2 .split{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.background2 .split .video{
  height: 40vh;
  flex: 1 1 20rem;
}

.background2 .split .content{
  flex: 1 1 25rem;
  text-align: justify;
}

.background2 .split .content,
.list li,
.list li span
{
  text-transform: none;
  line-height: 1.75rem
}

.list{
  margin-top: 1rem;
  margin-left: 3rem;
}

.list li span{
  display: block;
}

.list li + li{
  margin-top: .5rem;
}


/* Section faq */
.faq{
  margin: 5rem 0;
}

.faq header h2{
  text-align: center;
  margin: 1rem 0;
}

.faq-container{
  padding: 1em;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.faq-container .question-container{
  align-self: flex-start;
  flex: 1 1 35rem;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: lightgrey;
  cursor: pointer;

}

.faq-container .question-container:hover strong p {
  font-size: 1.25rem;
  transition: all .4s linear;
}

.faq-container .question-container strong p{
  border-left: 5px solid var(--blue-logo);
  padding: .75rem;
}

.faq-container .question-container i p{
  display: none;
}

.faq-container .question-container strong p,
.faq-container .question-container i p{
  text-transform: none;
}



/* Medias querries : Utilisées pour le contenu sur un écran de pc */
@media (min-width: 750px) {

  :root {
    --marquee-width: 100vw;
    --marquee-height: 15vh;
    --marquee-elements-displayed: 4;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }

  .marquee-content li {
    font-size: 1.25rem;
  }

  nav>ul>li:hover {
      background-color: var(--yellow-logo);
  }

  .calendrier{
    width: 50%;
  }

  .calendrier iframe {
    width: 50vw;
    height: 30vw;
  }

  .background2 .split .video{
    height: 50vh;
  }

}
