@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --ff-main: 'Open Sans', sans-serif;
  --blue-logo: #4742b4;
  --yellow-logo: #ffd248;
  --first-grey: #E6E7E8;
  --second-grey: #BDBDBD;
  --third-grey: #CECECE;
  --text-color: #333;
  --background-color: #FFF0C0;
}

*{
  font-family: var(--ff-main);
  margin: 0; padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
  line-height: 1.5rem;
}


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--background-color);
}

h1{
  font-size: 1.75rem;
}

footer{
  margin: auto;
  color:rgb(56, 53, 53);
  text-align: center;
  background-color: var(--yellow-logo);
  padding: 1.5rem;
}

footer h3 {
    font-size: 175%;
}

footer hr {
    width: 15rem;
    color:rgb(184, 179, 179);
    margin: .5rem auto;
}

footer p{
  text-transform: none;
}

footer a{
  color: var(--text-color);
  text-transform: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 .75rem;
}

.button{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  color: #fff;
  cursor: pointer;
  font-size: .9rem;
  text-transform: none;
}

.main-title{
  font-family: var(--ff-main);
  color: #111;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  text-transform: uppercase;
}


/* Section accroche */
.accroches{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
  padding: 2rem;
}

.accroches .content{
  flex: 1 1 30rem;
  text-align: justify;
}

.accroches .content .text{
  color: var(--text-color);
  line-height: 1.75rem;
  text-transform: none;
  padding: .5rem 0rem;
}

.accroches .content .text h2{
  margin-bottom: 1rem;
}

.accroches .content .text p{
  text-transform: none;
}

.accroches .content .text p span{
  display: block;
  text-transform: none;
  margin-top: 1rem;
}

.accroches .content .button{
  background: var(--blue-logo);
  margin-top: 1rem;
}

.accroches .content .button:hover{
  background: #111;
  letter-spacing: .1rem;
}

.accroches .highlight{
  color: var(--blue-logo);
  text-transform: none;
}

.accroches a{
  font-size: 2rem;
  color: var(--blue-logo);
}

.accroches a + a{
  padding-left: 1rem;
}

.accroches .image{
  flex: 1 1 10rem;
 padding: 1rem;
}

.accroches .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Section calendrier */
.calendrier{
  color: black;
  padding: 2rem 0;
  width: 95%;
  margin: auto;
}

.calendrier iframe {
  display: flex;
  text-align: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  border-radius: 0.5rem;
}


/* Section faq */
.faq{
  margin: 3rem 0;
}

.faq header h2{
  text-align: center;
  margin: 1rem 0;
}

.faq-container{
  padding: 1em;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.faq-container .question-container{
  align-self: flex-start;
  flex: 1 1 35rem;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: lightgrey;
  cursor: pointer;

}

.faq-container .question-container:hover strong p {
  font-size: 1.25rem;
  transition: all .4s linear;
}

.faq-container .question-container strong p{
  border-left: 5px solid var(--yellow-logo);
  padding: .75rem;
}

.faq-container .question-container i p{
  display: none;
}

.faq-container .question-container i p span{
  text-decoration: line-through;
}

.faq-container .question-container strong p,
.faq-container .question-container i p,
.faq-container .question-container i p span,
.faq-container .question-container i p a{
  text-transform: none;
}


/* Section to-do list */
.todo{
  padding: .5rem 0;
  background: #FFF;
  width: 90%;
  margin: 5rem auto;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: 1rem;
}

.todo h2{
  text-transform: none;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.75rem;
  line-height: 2rem;
}

.todo .row{
  padding: 1.25rem 3rem;
  font-size: 2.5rem;
  text-align: left;

}

.todo .row i{
  color: var(--yellow-logo);
}

.todo .row i span{
  text-transform: none;
  color: var(--text-color);
  font-size: 1.25rem;
  padding-left: .5rem;
  vertical-align: middle;
}


/* Medias querries : Utilisées pour le contenu sur un écran de pc */
@media (min-width: 750px) {

  .calendrier{
    width: 50%;
  }

  .todo{
    width: 60%;
  }

  .todo .row{
    font-size: 3rem;
  }

  .todo .row i{
    color: var(--yellow-logo);
  }

  .todo .row i span{
    color: var(--text-color);
    font-size: 1.5rem;
    padding-left: .4rem;
  }

  .calendrier iframe {
    width: 50vw;
    height: 30vw;
  }
}
