/* Menu flottant */

#menu-bars {
    position: fixed;
    top:.5rem; right:.5rem;
    background: var(--blue-logo);
    color: var(--yellow-logo);
    border-radius: .5rem;
    padding: .2rem .4rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: initial;
    z-index: 1000;
}

nav {
    transition: none;
    display: none;
    position: fixed;
    top: 3.4rem;
    right: .5rem;
    z-index: 1000;
}

nav ul {
    padding: .25rem;
    list-style-type: none;
    background-color:var(--blue-logo);
    color: var(--yellow-logo);
    border: solid var(--first-grey) 2px;
    border-radius: 0.3em;
}

nav>ul>li{
  padding: .5rem;
}

nav>ul>li:hover {
    background-color: var(--second-grey);
    border-radius: 0.2em;
    color: black;
}

nav a {
    color: inherit;
    padding: .5rem;
    font-size: 1rem;
}


@media (min-width: 750px) {
    /* Menu flottant */
    #menu-bars{
      display: none;
    }

    nav {
        position: absolute;
        display: unset;
        top:1rem; right: 0;
        width: 100%;
      }

    nav ul {
        display: flex;
        justify-content: space-between;
        background: none;
        border: unset;
        color: var(--blue-logo);
    }

    nav>ul>li{
        display: inline-flex;
        height: 100%;
        margin: auto;
        padding: 0;
    }

    nav>ul>li:hover {
        background-color: var(--yellow-logo);
        color: var(--blue-logo);
        letter-spacing: .1rem;
    }
}

.aos-fix[data-aos][data-aos].aos-animate {
    transform: unset;
}

.aos-fix[data-aos][data-aos].aos-animate {
    transform: initial;
}
