@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --ff-main: 'Open Sans', sans-serif;
  --blue-logo: #4742b4;
  --blue-pop-up: #908eb6;
  --yellow-logo: #ffd248;
  --first-grey: #E6E7E8;
  --second-grey: #BDBDBD;
    --third-grey: #CECECE;
  --text-color: #333;
  --background-color: #BABAC3;
}

*{
  font-family: var(--ff-main);
  margin: 0; padding: 0;
  text-decoration: none;
  transition: all .2s linear;
  box-sizing: border-box;
  line-height: 1.5rem;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}


main {
  /*border:solid blue;*/
  display: flex;
  flex-direction: column;
  max-width: 3840px;
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: unset;
  margin-bottom: unset;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: unset;
  margin-bottom: unset;
}

.template {
  display: flexbox;
  overflow-x: hidden;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  height: 80vw;
  width: 80vw;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.template .image {
  height: 70%;
  position: relative;
}

.template .image img {
  transition: all 200ms ease-in;
  height: 100%;
  background-color: var(--yellow-logo);
  transform: scale(1);
  z-index: -1;
  position: relative;
}

.template:hover .image img{
  transition: all 200ms ease-in;
  transform: scale(1.1);
  z-index: -1;
  position: relative;
}


.template .decoration {
  position: relative;
  z-index: 1;
  content:"salut salut";
  top: 0;
  margin-top: -70%;
  height: 100%;
  width: 100%;
  background-position: center;
  background: var(--blue-logo);
  background: linear-gradient(0deg, var(--blue-logo) 0%, rgba(255,255,255,0) 100%);
}




.template .nom_entreprise {
  background-color: var(--blue-logo);
  overflow-y: hidden;
  overflow-x: hidden;
  height: 30%;
  display: flex;
  align-items: center;
  text-align: center;
}

.template .nom_entreprise h2{
  margin: auto;
  font-size: 3rem;
  color: var(--first-grey);
}

/* Affichage pop-up */

.template .resume-wrapper {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.template .resume {

  position: fixed;
  background-color: var(--blue-pop-up);
  top: 5vh;
  left: 5vw;
  z-index: 10;
  height: 90vh;
  width: 90vw;
  border: solid black;
  border-radius: 2rem;
}

.template .resume .bandeau {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 2rem;
  border-bottom: solid var(--blue-logo) 0.2rem;
}

.template .resume .bandeau img {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.template .resume h2 {
  text-align: left;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.template .resume p {
  text-align: justify;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

}


h1{
  font-size: 1.75rem;
  color: var(--first-grey);
}

footer{
  margin: auto;
  color:rgb(56, 53, 53);
  text-align: center;
  background-color: var(--yellow-logo);
  padding: 1.5rem;
}

footer h3 {
    font-size: 175%;
}

footer hr {
    width: 15rem;
    color:rgb(184, 179, 179);
    margin: .5rem auto;
}

footer p{
  text-transform: none;
}

footer a{
  color: var(--text-color);
  text-transform: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.cursor{
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 3rem; width: 3rem;
  background: var(--yellow-logo);
  border-radius: 50%;
  pointer-events: none;
  opacity: .5;
  z-index: 10000;
  transform: translate(-50%,-50%);
}

.main-content{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5rem .5rem;
  padding: 2rem;
  background-color: var(--blue-logo);
  color: var(--first-grey);
}







.main-content h1{
  line-height: 2rem;
  margin-bottom: 1rem;
}

.main-content h3{
  color: var(--second-grey);
}

.logo-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo{
  flex: 1 1 9rem;
  margin: 1rem;
}

.logo-container .logo a img,
#seekube a img{
  width: 100%;
  object-fit: cover;
}

#seekube{
  display: block;
  margin: 1rem;
}



/* Medias querries : Utilisées pour le contenu sur un écran de pc */
@media (min-width: 750px) {

  .cursor{
    display: unset;
  }

  .flex-wrapper {
    flex-direction: row;
  }

  .template {
    height: 15vw;
    width: 15vw;
  }

  .template .nom_entreprise h2{
    font-size: 2rem;
  }  

  .template .resume {
    left: 25vw;
    height: 90vh;
    width: 50vw;
  }

  .logo{
    display:inline-block;
    width: 190px;
    height : auto;
    margin: 10px 30px 10px 30px;
  }

  #seekube a img{
    width: unset;
  }

  nav ul{
    color: var(--yellow-logo);
  }

  nav>ul>li:hover {
      background-color: var(--blue-logo);
      color: var(--yellow-logo);
  }
}

/*@media (max-width: 750px) {
  .logo{
    display:inline-block;
    width: 90px;
    height : auto;
    margin: 10px 30px 10px 30px;

  }*/
