@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/273d109a90780d8fe7bbe69817a67397?family=betterfly');

:root{
  --text-color: 'Anton', sans-serif;
  --ff-main: 'BetterFly', sans-serif;
  --ff-title: 'Fjalla One', sans-serif;
  --menu-color: blanchedalmond;
}

html{
  box-sizing: border-box;
  color: var(--text-color);
}

body{
    font-family: var(--ff-title);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
   /*border:solid blue;*/
    max-width: 3840px;
    align-items: center;
    text-align: center;
}

img {
    /*border-radius: 75px;*/
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.ligne{
  padding: 0;
  /*border:solid red;*/
  width: 95%;
  height: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*.logo{
  display:inline-block;
  border-radius: 75px;
  border:solid black;
  background-color: black;
  width: 80px;
  height : 80px;
  margin: 10px 50px 10px 50px;

}*/

.logo{
  display:inline-block;
  width: 150px;
  height : auto;
  margin: 10px 30px 10px 30px;
}

#seekube{
  margin:auto auto 50px auto;
}

.main-content{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 100px auto 50px auto;
}





/* Medias querries : Utilisées pour le contenu sur un écran de pc */
@media (min-width: 850px) {
  .logo{
    display:inline-block;
    width: 190px;
    height : auto;
    margin: 10px 30px 10px 30px;

  }
}

@media (max-width: 750px) {
  .logo{
    display:inline-block;
    width: 90px;
    height : auto;
    margin: 10px 30px 10px 30px;

  }

}
