@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/273d109a90780d8fe7bbe69817a67397?family=betterfly');

:root{
  --text-color: 'Anton', sans-serif;
  --ff-main: 'BetterFly', sans-serif;
  --ff-title: 'Fjalla One', sans-serif;
  /*--menu-color: blanchedalmond;*/
  --menu-color: #4742b4;
  --hover-color: #ffd248;
}

html{
  box-sizing: border-box;
  color: var(--text-color);
  overflow-x: hidden;
}

body{
    font-family: var(--ff-title);
    background: rgb(69, 69, 181);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.data-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-image img {
    display: block;
    max-width: 100%;
}

.image img {
    display: block;
    min-width: 100%;
    max-height: 100%;
    height: auto;
    width: 90vw;
    object-fit: contain;
}

main {
    max-width: 3840px;
    margin: auto;
    align-items: center;
    text-align: center;
    /* box-shadow: 30px 0 40px rgba(0,0,0,0.1), -30px 0 40px rgba(0,0,0,0.1); */
}

.main-content-flex, .main-text-img,.caption, footer {
    text-align: center;
}

/* Classes CSS */

/* Contenu du header */

.main-image {
    width: 50%;
    height: 20%;
    display: none;
}

.main-content {
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,68,180,1) 100%);
    height: 50vh;
}

.main-content-flex {
    display: flex;
    flex-direction: column;

    height: 20vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenu de la page */

.data-container {
    display: flex;
    flex-direction: line;
}

.rubrique, .rubrique2 {
    /*border:dashed red;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1vw;
    width: 95%;
    height: 40%;
    margin:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disposition2 {
    flex-direction: column-reverse;
}

/* Trois datas (ou plus) données en début de page */

.data {
    width: 80%;
    margin: auto;
}

.data-image, .data-text
{
  flex-grow: 1;
}

.data-image {
    background: #9C9CD0;
    padding: 10px;
}

.data-text {
    font-weight: bold;
    padding: 12px;
    color: #F0D270;
}

/* Contenu d'une rubrique dite "classique" */

.image, .texte
{
  flex-grow: 1;
}

.image {
    padding: 10px;
    background: #716cc5;
}

.texte {
    margin: 12px;
    text-align: justify;
    width: 90vw;
    background: #9C9CD0;
    padding: 7px;
}




/* Medias querries : Utilisées pour le contenu sur un écran de pc */

@media (min-width: 750px) {

    /* Contenu du header */
    .main-content {
        display: flex;
        height: 100vh;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(68,68,180,1) 100%);
        /*margin:80px auto auto auto*/
    }
    .main-content-flex {
        height: 0;

    }

    .main-image {
        width: 60%;
        height: 20%;
    }
    /* Contenu de la page */
    .data-container {
        flex-direction: column;
    }

    .rubrique, .rubrique2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2vh;
        width: 95%;
        height: 40%;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;    
    }


    /* Trois datas (ou plus) données en début de page */

    .data {
        width: 15%;
    }
    /* Contenu d'une rubrique dite "classique" */
    .image img {
        height: unset;
        width: 40vw;
    }

    .texte {
        height: 100%;
    }



}
