@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --ff-main: 'Open Sans', sans-serif;
  --blue-logo: #4742b4;
  --yellow-logo: #ffd248;
  --first-grey: #E6E7E8;
  --second-grey: #BDBDBD;
  --download-color: #764981;
}

*{
  font-family: var(--ff-main);
  margin: 0; padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  box-sizing: border-box;
  line-height: 1.5rem;
}

html{
  overflow-x: hidden;
}

body{
    font-family: var(--ff-title);
    background: rgb(69, 69, 181);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.cursor{
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 3rem; width: 3rem;
  background: var(--blue-logo);
  border-radius: 50%;
  pointer-events: none;
  opacity: .5;
  z-index: 10000;
  transform: translate(-50%,-50%);
}

.data-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-image img {
    display: block;
    max-width: 100%;
}

.image img {
    display: block;
    min-width: 100%;
    max-height: 100%;
    height: auto;
    width: 90vw;
    object-fit: contain;
}

main {
    max-width: 3840px;
    margin: auto;
    align-items: center;
    text-align: center;
    /* box-shadow: 30px 0 40px rgba(0,0,0,0.1), -30px 0 40px rgba(0,0,0,0.1); */
}

.main-content-flex, .main-text-img,.caption, footer {
    text-align: center;
}

/* Classes CSS */

/* Contenu du header */

.main-image {
    width: 50%;
    height: 20%;
    display: none;
}

.main-content {
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,68,180,1) 100%);
    height: 50vh;
}

.main-content-flex {
    display: flex;
    flex-direction: column;

    height: 20vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenu de la page */

.data-container {
    display: flex;
    flex-direction: line;
}

.rubrique, .rubrique2 {
    /*border:dashed red;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1vw;
    width: 95%;
    height: 40%;
    margin:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disposition2 {
    flex-direction: column-reverse;
}

/* Trois datas (ou plus) données en début de page */

.data {
    width: 80%;
    margin: auto;
}

.data-image, .data-text
{
  flex-grow: 1;
}

.data-image {
    background: #9C9CD0;
    padding: 10px;
}

.data-text {
    font-weight: bold;
    padding: 12px;
    color: #F0D270;
}

/* Contenu d'une rubrique dite "classique" */

.image, .texte
{
  flex-grow: 1;
}

.image {
    padding: 10px;
    background: #716cc5;
}

.texte {
    margin: 12px;
    text-align: justify;
    width: 90vw;
    background: #9C9CD0;
    padding: 7px;
}




/* Medias querries : Utilisées pour le contenu sur un écran de pc */

@media (min-width: 750px) {

    .cursor{
      display: unset;
    }

    /* Contenu du header */
    .main-content {
        display: flex;
        height: 100vh;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(68,68,180,1) 100%);
        /*margin:80px auto auto auto*/
    }
    .main-content-flex {
        height: 0;

    }

    .main-image {
        width: 60%;
        height: 20%;
    }
    /* Contenu de la page */
    .data-container {
        flex-direction: column;
    }

    .rubrique, .rubrique2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2vh;
        width: 95%;
        height: 40%;
        margin: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    /* Trois datas (ou plus) données en début de page */

    .data {
        width: 15%;
    }
    /* Contenu d'une rubrique dite "classique" */
    .image img {
        height: unset;
        width: 40vw;
    }

    .texte {
        height: 100%;
    }



}
