@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Anton', sans-serif; */
    background: rgb(69, 69, 181);
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 3840px;
    margin: auto;
    align-items: center;
    text-align: center;
    /* box-shadow: 30px 0 40px rgba(0,0,0,0.1), -30px 0 40px rgba(0,0,0,0.1); */
}

.main-content-flex, .main-text-img,.caption, footer {
    text-align: center;
}

/* Classes CSS */

/* Contenu du header */

.main-image {
    width: 50%;
    height: 50%;
}

.main-content {
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,68,180,1) 100%);
    height: 50vh;
}

.main-content-flex {
    display: flex;
    flex-direction: column;

    height: 20vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenu de la page */

.rubrique {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 95%;
    height: 40%;
    margin-top: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Trois datas (ou plus) données en début de page */

.data {
    width: 65%;
    margin: auto;
}

.data-image {
    background: #9C9CD0;
    padding: 10px;
    text-align: center;
}

.data-text {
    font-weight: bold;
    flex-grow: 1.5;
    padding: 12px;
    color: #F0D270;
}

/* Contenu d'une rubrique dite "classique" */ 

.image {
    padding: 10px;
    background: #716cc5;
}

.texte {
    flex-grow: 1.5;
    margin: 12px;
    background: #9C9CD0;
    padding: 7px;
}

/* Menu flottant */

menu {
    /* position: -webkit-sticky; */
    position: fixed;
    top: 10px;
    right: 0px;
}

menu ul {
    padding: 2vw;
    list-style-type: none;
    background-color: black;
    color: blanchedalmond;
}

menu>ul>li{
    width: 100%;
    height: unset;
    margin: auto;
    align-items: center;
    padding: 10px;
}

menu>ul>li:hover {
    background-color: blanchedalmond;
    color: black;
}

menu a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

/* Medias querries : Utilisées pour le contenu sur un écran de pc */

@media (min-width: 750px) {

    /* Contenu du header */
    .main-content {
        display: flex;
        height: 100vh;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(68,68,180,1) 100%);
    }
    .main-content-flex {
        height: 0;
        
    }
    /* Contenu de la page */
    .rubrique {
        display: inline-flex;
        flex-direction: row;
        padding: 2vh;
        width: 95%;
        height: 40%;
        margin-top: 10%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* Trois datas (ou plus) données en début de page */

    .data {
        width: 20%;
    }
    /* Contenu d'une rubrique dite "classique" */ 
    .texte {
        height: 100%;
    }

    /* Menu flottant */
    menu {
        top: 0px;
        width: 100%;     
    }

    menu ul {
        padding: 10px;
        text-align: right;
        width: unset;
        height: 90%vh;
        background-color: black;
        margin-top: 0;

        
    }

    menu a {
        color: blanchedalmond;
        text-decoration: none;
        color: inherit;
    }

    
    menu>ul>li{
        display: inline-flex;
        width: unset;
        height: 100%;
        margin: auto;
        align-items: center;
    }

    menu>ul>li:hover {
        background-color: blanchedalmond;
        color: black;
    }

    
}